#cloud-config
hostname: {{ .HostName }}
manage_etc_hosts: true
users:
  - name: {{ .User }}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    home: /home/{{ .User }}
    shell: /bin/bash
    lock_passwd: false
    ssh-authorized-keys:
      - <sshPUBKEY>
# only cert auth via ssh (console access can still login)
ssh_pwauth: false
disable_root: false
chpasswd:
  list: |
     {{ .User }}:{{ .Password }}
  expire: False

package_update: true
packages:
  - qemu-guest-agent
# written to /var/log/cloud-init-output.log
final_message: "The system is finally up, after $UPTIME seconds"